nav {
    background-color: rgb(58, 51, 64);
    padding: 1px;
}

ul {
    float: right;
    list-style-type: none;
    margin-right: 50px;
    margin-top: 0.5cm;
}

ul li {
    display: inline-block;
    color: white;
    margin-top: 0.2cm;
}

ul li a:hover {
    font-size: medium;
    color: greenyellow;
}

.nav-search {
    float: right;
}

.nav-search input {
    height: 49px;
    width: 344px;
    border-radius: 8px;
}

.nav-search input:hover {
    border: 3px solid greenyellow;
}

.nav-search input ::placeholder {
    font-weight: bold;
}

.nav-search button {
    height: 49px;
}

.nav-search button span:hover {
    font-size: small;
    color: white;
}

li a {
    color: white;
    text-decoration: none;
    padding: 5px;
    cursor: pointer;
    font-size: 20px;
    margin-right: 25px;
}