.mat-mdc-card {
    border: 1px solid aqua;
    width: 400px;
    height: 400px;
    margin-left: 38%;
    margin-top: 10%;
    background-image: url("https://th.bing.com/th/id/OIP.1ILPEtXXYmvnPIHhh_YxAwHaEo?w=255&h=180&c=7&r=0&o=5&dpr=1.1&pid=1.7");
    border-radius: 15px;
}

.mat-mdc-card p {
    color: white;
    margin-top: 10px;
    margin-left: 88px;
    font-family: Book Antiqua;
    font-weight: bold;
}

.mat-mdc-card p a {
    color: yellow;
    font-style: italic;
    font-weight: bolder;
    cursor: pointer;
}

.mat-mdc-card button {
    font-family: Book Antiqua;
    font-weight: bold;
    background-color: unset;
    border: 1px solid white;
    color: aliceblue;
}

.mat-mdc-card h1 {
    color: aliceblue;
    margin-left: 10px
}