<mat-card>
    <mat-card-content>
        <div class="seller-auth">

            <div class="sign-up">

                <h1>Add New Product</h1>
                <form class="form" #addProd="ngForm">

                    <input class="form-input" type="text" ngModel name="name" placeholder="Enter Product Name">
                    <input class="form-input" type="text" ngModel name="price" placeholder="Enter Product Price">
                    <input class="form-input" type="text" ngModel name="company" placeholder="Enter Company Name">
                    <input class="form-input" type="text" ngModel name="color" placeholder="Enter Product Color">
                    <textarea class="form-input" type="text" ngModel name="description" placeholder="Enter Product Description"></textarea>


                    <button mat-raised-button color="primary"><span>Add Product</span> </button>


                </form>
            </div>

        </div>
    </mat-card-content>

</mat-card>