.mdc-data-table__table {
    min-width: 50%;
    border: 0;
    white-space: nowrap;
    border-spacing: 0;
    margin-left: 25%;
    margin-top: 100px;
}

h1 {
    margin-left: 40%;
    margin-top: 69px;
    font-size: 50px;
}

img {
    width: 35px;
}

p {
    margin-left: 42%;
    color: red;
}