.mdc-data-table__table {
    min-width: 78%;
    border: 0;
    white-space: nowrap;
    border-spacing: 0;
    margin-left: 10%;
    margin-top: 100px;
}

h1 {
    margin-left: 40%;
    margin-top: 69px;
    font-size: 50px;
}

img {
    width: 55px;
}

p {
    margin-left: 42%;
    color: red;
}

.edit {
    margin-left: 20px;
}