<div class="row search-item">
    <div class="col-sm-3">

        <img src="https://th.bing.com/th?id=OIP.6QaNirTEp3oUxvHxnKklvgHaFj&w=288&h=216&c=8&rs=1&qlt=90&o=6&dpr=1.1&pid=3.1&rm=2" alt="">
    </div>
    <div class="col-sm-8 details">
        <h6>Product Name</h6>
        <p>Price: 100</p>
        <p><span>Color:Red</span><span>Category:Mobile</span></p>
        <p>A great product</p>
    </div>

</div>
<div class="row search-item">
    <div class="col-sm-3">

        <img src="https://th.bing.com/th?id=OIP.6QaNirTEp3oUxvHxnKklvgHaFj&w=288&h=216&c=8&rs=1&qlt=90&o=6&dpr=1.1&pid=3.1&rm=2" alt="">
    </div>
    <div class="col-sm-8 details">
        <h6>Product Name</h6>
        <p>Price: 100</p>
        <p><span>Color:Red</span><span>Category:Mobile</span></p>
        <p>A great product</p>
    </div>

</div>
<div class="row search-item">
    <div class="col-sm-3">

        <img src="https://th.bing.com/th?id=OIP.6QaNirTEp3oUxvHxnKklvgHaFj&w=288&h=216&c=8&rs=1&qlt=90&o=6&dpr=1.1&pid=3.1&rm=2" alt="">
    </div>
    <div class="col-sm-8 details">
        <h6>Product Name</h6>
        <p>Price: 100</p>
        <p><span>Color:Red</span><span>Category:Mobile</span></p>
        <p>A great product</p>
    </div>

</div>
<div class="row search-item">
    <div class="col-sm-3">

        <img src="https://th.bing.com/th?id=OIP.6QaNirTEp3oUxvHxnKklvgHaFj&w=288&h=216&c=8&rs=1&qlt=90&o=6&dpr=1.1&pid=3.1&rm=2" alt="">
    </div>
    <div class="col-sm-8 details">
        <h6>Product Name</h6>
        <p>Price: 100</p>
        <p><span>Color:Red</span><span>Category:Mobile</span></p>
        <p>A great product</p>
    </div>

</div>