.c-image {
    object-fit: contain;
    height: 500px;
    width: 100%;
    margin-top: 50px;
}

.container {
    width: 100%;
}

.carousel-caption {
    background-color: #00000080;
    color: white;
    border-radius: 5px;
}

.product-item {
    border: 1px solid #ddd;
    margin-left: 5px;
    margin-top: 20px;
    width: 300px;
}

.product-item img {
    width: 200px;
    margin-left: 50px;
    object-fit: contain;
}

.products {
    margin-top: 80px;
    margin-bottom: 80px;
}

.productDetails {
    text-align: center;
}

.prod-footer a {
    margin-left: 10px;
    text-decoration: none;
    cursor: pointer;
}

h1 {
    text-align: center;
    color: rgb(163, 140, 35);
}

.row {
    margin-top: 44px;
    margin-left: 20px;
}