<!-- If bootstrap not work properly then you can first run a - npm uninstall @schematics/angular -->
<!-- then run ng add @ng-bootstrap/ng-bootstrap -->

<div class="container">
    @if (popularProd) {
    <ngb-carousel>
        @for(p of popularProd;track p){
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
                <img class="c-image" src="{{p.url}}" alt="Random first slide" />
            </div>

            <div class="carousel-caption">
                <h3><strong>{{p.name}}</strong></h3>
                <p><strong>{{p.description}}</strong></p>
            </div>
        </ng-template>
        }
    </ngb-carousel>
    }
</div>

<div class="products">
    <h1>Trending Products</h1>
    <div class="row">
        @for(p of trendyProd;track p){
        <div class="col-sm-3">
            <div class="product-item">
                <img src="{{p.url}}">

                <div class="productDetails">
                    <strong style="background-color: #289f4880;;">{{p.name}}</strong>
                    <div class="prod-price">
                        <h6>Price - {{p.price}}</h6>
                    </div>
                    <div class="prod-color">
                        <h6>Color - {{p.color}}</h6>
                    </div>
                    <div class="prod-footer">
                        <a href="">See Details</a>
                        <a href="">Add to cart</a>
                    </div>
                </div>
            </div>

        </div>

        }
    </div>


</div>